<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大事件-文章</title>
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/prism.css">
</head>

<body>
    <div class="header">
        <a href="#" class="logo fl"><img src="assets/images/logo.png" alt="logo"></a>
        <div class="search_form fl">
            <input type="text" class="search_txt" placeholder="黑洞照片">
            <button class="search_btn"><i class="fa fa-search"></i></button>
        </div>
        <div class="link_info fr">
            <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;网站地图</a><br>
            <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;招聘信息</a>
        </div>
    </div>

    <div class="menu_con">
        <div class="menu">
            <div class="menu_collapse fl">
                <a href="javascript:;" class="level_one"><i class="fa fa-list-ul"></i>全部分类</a>
                <ul class="level_two">
                    <li class="up"></li>
                    <!-- 动态数据 -->
                </ul>
            </div>
            <ul class="left_menu fl">
                <!-- 动态数据 -->
            </ul>
            <ul class="right_menu fr">
                <li><a href="#">科技专题</a></li>
                <li><a href="#">财经专题</a></li>
            </ul>
        </div>
    </div>

    <div class="main_con clearfix">
        <div class="left_con setfr">
            <div class="breadcrumb">
                当前位置： <a href="#">首页</a> &gt; <a href="#">科技</a> &gt; 文章详情
            </div>
            <!-- 动态加载 -->
            <div class="article_links">
                <!-- 动态加载 -->
            </div>

            <form action="" class="comment_form">
                <div class="form_group">
                    <label>用户名：</label>
                    <input type="text" name="name" placeholder="请输入用户名" class="comment_name">
                </div>
                <div class="form_group">
                    <label>评论内容：</label>
                    <textarea placeholder="请发表您的评论" name="content" class="comment_input"></textarea>
                </div>
                <div class="form_group">
                    <input type="button" value="评 论" class="comment_sub"></div>
            </form>

            <div class="comment_count">
                4条评论
            </div>

            <div class="comment_list_con">
                <div class="comment_detail_list">
                    <div class="person_pic fl">乔</div>
                    <div class="name_time fl"><b>虚竹</b><span>4小时前</span></div>
                    <div class="comment_text fl">
                        遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。
                    </div>
                </div>
                <div class="comment_detail_list">
                    <div class="person_pic fl">段</div>
                    <div class="name_time fl"><b>虚竹</b><span>4小时前</span></div>
                    <div class="comment_text fl">
                        遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。
                    </div>
                </div>
                <div class="comment_detail_list">
                    <div class="person_pic fl">虚</div>
                    <div class="name_time fl"><b>虚竹</b><span>4小时前</span></div>
                    <div class="comment_text fl">
                        遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。
                    </div>
                </div>
                <div class="comment_detail_list">
                    <div class="person_pic fl">王</div>
                    <div class="name_time fl"><b>虚竹</b><span>4小时前</span></div>
                    <div class="comment_text fl">
                        遏制茅台酒价格过快上涨，多渠道供给，就不一定要买，租茅台酒也可以的，租售同权。开发共有产权茅台酒，让老百姓喝得起茅台酒，饮者有其酒。
                    </div>
                </div>
            </div>
        </div>
        <div class="right_con setfl">
            <div class="common_wrap">
                <h3><i class="fa fa-bar-chart"></i> 一周热门排行</h3>
                <ul class="content_list">
                    <!-- 动态数据 -->
                </ul>
            </div>
            <div class="common_wrap">
                <h3><i class="fa fa-commenting-o"></i> 最新评论</h3>
                <ul class="content_list comment_list">
                    <li>
                        <span>山</span>
                        <b><em>山治</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>丽</span>
                        <b><em>丽丽</em> 9个月前(08-14)说:9个月前(08-14)说:9个月前(08-14)说:</b>
                        <strong>挺会玩的挺会玩的挺会玩的挺会玩的</strong>
                    </li>
                    <li>
                        <span>R</span>
                        <b><em>Rechael</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>J</span>
                        <b><em>John</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>段</span>
                        <b><em>段正淳</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                    <li>
                        <span>乔</span>
                        <b><em>乔峰</em> 9个月前(08-14)说:</b>
                        <strong>挺会玩的</strong>
                    </li>
                </ul>
            </div>
            <div class="common_wrap">
                <h3><i class="fa fa-bullseye"></i> 焦点关注</h3>
                <ul class="content_list guanzhu_list">
                    <!-- 动态数据 -->
                </ul>
            </div>
        </div>
    </div>

    <div class="footer clearfix">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2019 深圳大事件信息技术股份有限公司 All Rights Reserved</p>
        <p>电话：0755-****888 粤ICP备*******8号</p>
    </div>
    <script src="./assets/js/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/template-web.js"></script>
    <script src="./assets/js/index.js"></script>

    <script type="text/html" id="wenzhang">
        <h3 class="article_title">{{arr.title}}</h3>
         <div class="article_info">杰克 发布于{{arr.addtime}}&nbsp;&nbsp;&nbsp;
            分类: 奇趣事&nbsp;&nbsp;&nbsp;
            阅读:({{arr.click}})&nbsp;&nbsp;&nbsp;
            评论: (0)</div>
        <div class="article_con">

            
            {{@arr.text}}
          


        </div>

    </script>

    <script type='text/html' id="moban">
        {{each arr}}
            <li><a href="#">{{$value.name}}</a></li>
        {{/each}}
    </script>

    <script type='text/html' id="paihang">
        {{each arr}}
          <!-- first second   third-->
                <li>
                    {{if $index==0}}
                    <span class='first'>{{$index + 1}}</span>
                    {{else if $index==1}}
                    <span class='second'>{{$index + 1}}</span>
                    {{else if $index==2}}
                    <span class='third'>{{$index + 1}}</span>
                    {{else}}
                    <span >{{$index + 1}}</span>
                    {{/if}}
                    <a href="./detail.html?id={{$value.id}}">{{$value.text}}</a>
                
                </li>
          {{/each}}
        </script>
    <script type='text/html' id="guanzhu">
            {{each arr}}
                    <li><a href="./detail.html?id={{$value.id}}">{{$value.desc}}</a></li>
              {{/each}}
            </script>


    <script type="text/html" id="shangxia">


                上一篇： <a href="/detail.html?id={{arr.prev.id}}">{{arr.prev.title}}</a><br>
 

    </script>
    <script>
        daohang();
        var id = location.search;
        $.get('/getArticleById' + id, function (res) {
            console.log(res);
            var str = template('wenzhang', {
                arr: res.data
                //    category:res.category
            })

            $('.breadcrumb').after(str);
            $('<script>').attr('src', './assets/js/prism.js').appendTo('body');
            // setTimeout(function(){



        }, 'json')

        // 上一篇下一篇
        $.get('/adjacent' + id, function (res) {
            // console.log(res);
            var str = template('shangxia', {
                arr: res.data
            })
            $('.article_links').append(str);
        }, 'json')

        paihangbang();
        guanzhu();
    </script>



    <script>
        //发布评论
        var fd = new FormData($('.comment_form')[0]);
        $('.comment_sub').click(function () {
            $.ajax({
                url: '/addComment',
                type: 'POST',
                data: { articleid: id, fd },
                dataType: 'json',
                success: function (res) {
                    // console.log(res);
                    if(res.code == 200){
                    alert(res.message);
                        
                    }
                },
                contentType: false,
                processData: false,
            })
        })
        var id = location.search;
        $.get('/getCommentsByArticleId' + id,function(res){
            console.log(res);
            var str = template('trr',)      
        })

    </script>

</body>

</html>